<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Wopop</title>
  <link href="../../public/Wopop_files/style_log.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="../../public/Wopop_files/style.css">
  <link rel="stylesheet" type="text/css" href="../../public/Wopop_files/userpanel.css">
  <script src="../../public/js/myjs/myjs.js"></script>
  <script src="../../public/js/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/blueimp-md5/1.1.0/js/md5.min.js"></script> 

</head>

<body class="login" mycollectionplug="bind">
  <div class="login_m">
    <div class="login_logo">
      <h2>BLOG管理系统</h2>
    </div>
    <div class="login_boder" id='login_box' style='display:none'>

      <div class="login_padding" id="login_model">
          <h2 style="text-align: center;font-size:16px;">用户登录</h2>
        <h2>用户名</h2>
        <label>
          <input type="text" id="username1" name="username1" class="txt_input txt_input2" onfocus="if (value ==&#39;用户名称&#39;){value =&#39;&#39;}"
            onblur="if (value ==&#39;&#39;){value=&#39;Your name&#39;}" value="">
        </label>
        <label>
        <h2>密码</h2>
        <label>
          <input type="password" name="textfield2" id="password1" name="password1" class="txt_input" onfocus="if (value ==&#39;******&#39;){value =&#39;&#39;}"
            onblur="if (value ==&#39;&#39;){value=&#39;******&#39;}" value="******">
        </label>

        <p class="forgot">
          <a id="iforget1" href="javascript:void(0);">注册用户</a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a id="iforget" href="javascript:void(0);">忘记密码?</a>
        </p>
        <div class="rem_sub">
          <div class="rem_sub_l">
            <input type="checkbox" name="checkbox" id="save_me">
            <label for="checkbox">记住我</label>
          </div>
          <label>
            <input type="submit" class="sub_button" id='login_button' name="button" id="button" value="登录" style="opacity: 0.7;">
          </label>
        </div>
      </div>

      <div class="copyrights">Collect from
        <a href="http://www.cssmoban.com/">企业网站模板</a>
      </div>

      <div id="forget_model" class="login_padding" style="display:none">
        <br>

        <h1>Forgot password</h1>
        <br>
        <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to
          user’s registered email address.)</div>
        <label>
          <input type="text" id="usrmai1l" class="txt_input txt_input2">
        </label>
        <div class="rem_sub">
          <div class="rem_sub_l">
          </div>
          <label>
            <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
            <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">

          </label>
        </div>
      </div>
      <!--login_padding  Sign up end-->
    </div>
    <div class="login_boder" id='reg_box'>
     
      <div class="login_padding" id="login_model">
          <h2 style="text-align: center;font-size:16px;">用户注册</h2>
          <form name="myform">
        <label>
          <input type="text" id="username" name="username" class="txt_input txt_input2" placeholder="用户名">
        </label>
        <input type="text" id="tel" name="tel"  class="txt_input txt_input2" placeholder="手机号" >
        <p class='btn_Box'><input type="text" id="yz_num" name="yz_num"  class="txt_input txt_input3" placeholder="验证码" ><input type='button' id='but_checkNum' class='checkNum' value="点击获取验证码" name="phone"></p>
      </label>
        <label>
          <input type="password" name="textfield2" id="password" name="password" class="txt_input"  placeholder="*******">
        </label>

        <p class="forgot">
          <a id="iforget2" href="javascript:void(0);">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;
        </p>
        <div class="rem_sub">
          <!-- <div class="rem_sub_l"> -->
            <!-- <input type="checkbox" name="checkbox" id="save_me"> -->
            <!-- <label for="checkbox">记住我</label> -->
          <!-- </div> -->
          <label>
            <input type="button" class="sub_button" name="button" id="button_reg" value="注册" style="opacity: 0.7;">
          </label>
        </form>
        </div>
      </div>

      <div class="copyrights">Collect from
        <a href="http://www.cssmoban.com/">企业网站模板</a>
      </div>

      <div id="forget_model" class="login_padding" style="display:none">
        <br>

        <h1>Forgot password</h1>
        <br>
        <div class="forget_model_h2">(Please enter your registered email below and the system will automatically reset users’ password and send it to
          user’s registered email address.)</div>
        <label>
          <input type="text" id="usrmail" class="txt_input txt_input2">
        </label>


        <div class="rem_sub">
          <div class="rem_sub_l">
          </div>
          <label>
            <input type="submit" class="sub_buttons" name="button" id="Retrievenow" value="Retrieve now" style="opacity: 0.7;">
            <input type="submit" class="sub_button" name="button" id="denglou" value="Return" style="opacity: 0.7;">

          </label>
        </div>
      </div>
      <!--login_padding  Sign up end-->
    </div>
    <!--login_boder end-->
  </div>
  <!--login_m end-->
  <br>
  <br>
  <script src="../../public/Wopop_files/js/index.js"></script>
</body>

</html>